@media screen and (max-width: 769px) {
    .header {
      display: grid;
      grid-template-columns: auto 1fr; 
      align-items: center;
  }

  .openbtn {
      grid-column: 1;
      justify-self: start;
      /* justify-content: flex-start; */
  }
  

    /* The sidepanel menu */
    .sidepanel {
        height: 100vh; /* Specify a height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
      }
      
      /* The sidepanel links */
      .sidepanel a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      /* When you mouse over the navigation links, change their color */
      .sidepanel a:hover {
        color: #f1f1f1;
      }
      
      /* Position and style the close button (top right corner) */
      .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      /* Style the button that is used to open the sidepanel */
      .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
      }
      .normnav {
        display: none;
      }
    
      .openbtn:hover {
        background-color: #444;
      }
    }
    @media screen and (min-width: 769px) {
        .sidepanel {
            display: none;
        }
        .openbtn {
            display: none;
        }
    }
    
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
        text-align: center;
    
    }
    
    
    
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: #444444;
    }
    
    /* Header */
    .header {
        background: #333;
        color: white;
        padding: 20px;
    }
    
    .header ul {
        list-style: none;
        padding: 10px 0;
    }
    
    .header ul li {
        display: inline;
        margin: 0 15px;
    }
    
    .header ul li a {
        color: white;
        text-decoration: none;
    }
    
    /* Afbeelding */
    .hoofdafb img {
        width: 100%;
        height: auto;
    }
    
    /* Content */
    .about {
        padding: 50px 20px;
        color: white;
    }
    
    /* Footer */
    .footer {
        background: #333;
        color: white;
        padding: 15px;
        margin-top: auto;
    }
    
    .menukaart {
        color: white;
    }
    .home {
        text-decoration: none;
        color: white;
      }
    .Voorgerechten, .Hoofdgerechten, .Nagerechten, .Tijden, .loca {
      color: white;
    }